spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  flyway:
    enabled: ${FLYWAY_ENABLED:true}

stockmentor:
  security:
    jwt:
      secret: ${JWT_SECRET:}
      expiration-seconds: ${JWT_EXPIRATION:7200}
